* {
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#smartwizard {
	font-size: .9rem;
}
/* hide drag container and infopanel until wizard complete */
#infopanel, .drag-container, .filter {
	display: none;
}
.step2, .step3{
	display: none;
}

.d-none {
	display: none !important;
}

/* report button */
button {
	background-color: #4BC0CD;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 6px 10px;
	font-size: 13px;
	cursor: pointer;
	margin: 0 5px;
}
button:hover {
	background-color: #30ADA0;
}

/* put the buttons always on top right and toc description never overlap */
.toc-desc {
	font-weight: normal;
	color: #555;
	padding-bottom: 1.5rem;
	width: calc(100% - 250px);
}
.buttons {
	position: absolute;
	right: 10px;
	top: 13px;
}

.topicpanes {
	margin-left: 250px;
}
.datapane {
	background-color: #efefef;
	position: relative;
}

.drag-container {
  max-width: 1000px;
  font-size: 13px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* special classes for behavior and impacts */
.behavior {
	width: 400px;
	margin: 0 auto !important;
}
.impacts {
	margin-top: 5rem;
	width: 400px;
	margin: 0 auto !important;
}

.down-arrow {
	margin: 1rem auto;
	display: block;
}


.drag-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  -webkit-box-flex: 1;
          flex: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  background: none;
  /*border: 1px solid #999;*/
  background: #dedede;
  overflow: hidden;
  min-width: 235px;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.drag-column h3, h4 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 400;
}

.drag-column-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px;
  line-height: 135%;
  background: #999;
  color: #444;
  font-weight: normal;
}

.drag-inner-list {
  min-height: 50px;
  	padding-bottom: 1px;
}

.drag-item {
  margin: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: grab;
  list-style: none;
  color: #666;
}
.drag-item:hover {
	box-shadow: 2px 2px silver;
	color: #333;
}
.drag-item.is-moving {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: rgba(0, 0, 0, 0.8);
  cursor: grabbing;
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}



/* indicator styling */
.drag-item {
		font-size: 14px;
		line-height: 1.2em;
		padding: 1em;
		transition: background 0.4s, box-shadow 0.4s;
		background: white;
		border: 2px solid #30ADA0;
}
.drag-item h4 {
	padding:0;
	border:0;
	margin: 0;
	font-weight: normal;
}
.drag-item span {
	display: none;
}

/* keep the classes on these divs but just style them all the same for now */
.micro {
	background:  white;
}
.meso {
	background:  white;
}
.macro {
	background:  white;
}

/* info panel */

#infopanel {
    background: #33C4A6;
    border-radius: 5px;
    width:300px;
    position: absolute;
	left: 250px;
	padding: 1rem;
	display: none;
}
#infopanel:before {
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 20px;
    left: -19px; /* 1px buffer for zooming problems while rendering*/
    border-width: 10px;
    border-color: transparent #33C4A6 transparent transparent;
    border-style: solid;
}

#infopanel span {
	display: block;
}

#infopanel h4 {
	border: 0;
	margin: 0;
	font-weight: bold;
}

#infopanel .desc {
	padding: 10px 0;
	line-height: 130%;
	border: 0;
	font-size: 13px;
}

#infopanel .cite::before {
	content: "Source: ";
}
#infopanel .cite {
	font-size: 11px;
	color: #333;
	padding-top: 1em;
}

#infopanel .recommend, #infopanel .plus, #infopanel .minus {
	font-size: 12px;
}

#infopanel .plus::before {
	content: "+ ";
}

#infopanel .minus::before {
	content: "- ";
}

#infopanel .recommend::before {
	content: "Overall: ";
}



/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/* Demo info */
.intro {
	padding: 1em 1em 0em 1em;
	background-color: #1CABE2;
	color: white;
}
.intro h1 {
  line-height: 120%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.intro h4 {
	font-weight: normal;
	line-height: 140%;
	margin: 0;
	font-size: 12px;
}

.report-area {
  position: relative;
  /* you may want to set the width/height here as well*/
}

.report-fixed {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  z-index: 100;  
  background-color: #cccccc;
  display: none;
}

/* isotope changes height automatically, so important needed to override if very tall */
ul.drag-inner-list#drag-4 {

}

/* indicators css */
.indicators-container {
	width: 250px;
	position: absolute;
	top: 130px;

}
.indicators-label {
	color: #999;
	font-weight: normal;
	padding-bottom: 1rem;
	padding-left: 10px
}
.indicators-list {
	height: 600px;
    max-height: 600px !important; 
    overflow-y: scroll;	
	background-color: #efefef;
}


.hm-wrapper {
  left: 200px;
  float: left;
  width: 600px; 
  height: 600px;
  display: none;
}
.heatmap {
  width:100%; 
  height:100%;
}


/* color palette for factors */
/*
--independence: #565264ff;
--old-lavender: #706677ff;
--english-lavender: #a6808cff;
--silver-pink: #ccb7aeff;
--timberwolf: #d6cfcbff;
--non-photo-blue: #8edef6ff;
--sky-blue-crayola: #65d3e2ff;
--light-sea-green: #00a9a5ff;
--blue-munsell: #359cacff;
--star-command-blue: #287ab8ff;
*/
/*
--champagne-pink: #eddcd2ff;
--linen: #fff1e6ff;
--pale-pink: #fde2e4ff;
--mimi-pink: #fad2e1ff;
--powder-blue: #c5deddff;
--mint-cream: #dbe7e4ff;
--isabelline: #f0efebff;
--alice-blue: #d6e2e9ff;
--beau-blue: #bcd4e6ff;
--pale-cerulean: #99c1deff;
*/
/*
.drag-item.relationships {
	border-color: #565264ff;
}
.drag-item.literacy {
	border-color: #706677ff;
}
.drag-item.self-esteem {
	border-color: #a6808cff;
}
.drag-item.offline-norms {
  border-color: #ccb7aeff;
}
.drag-item.online-norms {
  border-color: #d6cfcbff;
}
.drag-item.awareness-support {
  border-color: #8edef6ff;
}
.drag-item.monitor-block {
  border-color: #65d3e2ff;
}
.drag-item.reduce-stress {
  border-color: #00a9a5ff;
}
*/

.swiper-container, .swiper-overlay {
	display: none;
}

/* new brighter color scheme */
/* CSS HEX */
:root {
--skobeloff: #98D8E7ff;
--illuminating-emerald: #1CABE2ff;
--caribbean-green: #00c49aff;
--mantis: #7cd383ff;
--naples-yellow: #f8e16cff;
--deep-champagne: #fcd290ff;
--melon: #ffc2b4ff;
--vivid-tangerine: #fda98eff;
--coral: #B8ADC0ff;
}

.drag-item {
	border: 1px solid #dedede;
}

.drag-item.relationships {
  border-left: 2px solid var(--caribbean-green);
}
.relationships .drag-column-header {
	background: var(--caribbean-green);
}

.drag-item.literacy {
  border-left: 2px solid var(--mantis);
}
.literacy .drag-column-header {
	background: var(--mantis);
}

.drag-item.self-esteem {
  border-left: 2px solid var(--naples-yellow);
}
.self-esteem .drag-column-header {
	background: var(--naples-yellow);
}

.drag-item.offline-norms {
  border-left: 2px solid var(--deep-champagne);
}
.offline-norms .drag-column-header {
	background: var(--deep-champagne);
}

.drag-item.online-norms {
  border-left: 2px solid var(--melon);
}
.online-norms .drag-column-header {
	background: var(--melon);
}

.drag-item.awareness-support {
  border-left: 2px solid var(--vivid-tangerine);
}
.awareness-support .drag-column-header {
	background: var(--vivid-tangerine);
}

.drag-item.monitor-block {
    border-left: 2px solid var(--coral);
}
.monitor-block .drag-column-header {
	background: var(--coral);
}

/* ignore these two for now */
.drag-item.reduce-stress {
  background-color: #d6e2e9;
}
.drag-item.decrease-cybersexual {
  background-color: #bcd4e6;
}

.drag-item.cyberbullying-prevalence {
  border-left: 2px solid var(--illuminating-emerald);
}
.cyberbullying-prevalence .drag-column-header {
	background: var(--illuminating-emerald);
}

.drag-item.grooming-prevalence {
  border-left: 2px solid var(--illuminating-emerald);
}
.grooming-prevalence .drag-column-header {
	background: var(--illuminating-emerald);
}

.drag-item.cyberbullying-impacts {
  border-left: 2px solid var(--skobeloff);
}
.cyberbullying-impacts .drag-column-header {
	background: var(--skobeloff);
}

.drag-item.grooming-impacts {
  border-left: 2px solid var(--skobeloff);
}
.grooming-impacts .drag-column-header {
	background: var(--skobeloff);
}

