* {
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*intro styling */
.intro p {
	font-size: 13px;
}
#smartwizard {
	font-size: .9rem;
}
/* hide drag container and infopanel until wizard complete */
#infopanel, .drag-container, .filter {
	display: none;
}
.step2, .step3{
	display: none;
}

.d-none {
	display: none !important;
}

/* report button */
button {
	background-color: #00B961;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px 8px;
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
}


.drag-container {
  max-width: 1000px;
  margin-left: 210px;
}

.drag-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  -webkit-box-flex: 1;
          flex: 1;
  margin: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.drag-column h3, h4 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 400;
}

.drag-column-on-hold .drag-column-header,
.drag-column-on-hold .is-moved,
.drag-column-on-hold .drag-options {
  background: #FB7D44;
}
.drag-column-in-progress .drag-column-header,
.drag-column-in-progress .is-moved,
.drag-column-in-progress .drag-options {
  background: #2A92BF;
}
.drag-column-needs-review .drag-column-header,
.drag-column-needs-review .is-moved,
.drag-column-needs-review .drag-options {
  background: #F4CE46;
}
.drag-column-approved .drag-column-header,
.drag-column-approved .is-moved,
.drag-column-approved .drag-options {
  background: #00B961;
}



/*
.micro {
	border: 2px solid #FB7D44;
}
.meso {
	border: 2px solid #2A92BF;
}
.macro {
	border: 2px solid #F4CE46;
}
*/

.drag-column-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.drag-inner-list {
  min-height: 50px;
  	padding-bottom: 1px;
}

.drag-item {
  margin: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: grab;
}
.drag-item.is-moving {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: rgba(0, 0, 0, 0.8);
  cursor: grabbing;
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}



/* indicator styling */
.drag-item {
		font-size: 14px;
		line-height: 1.2em;
		padding: 1em;
		transition: background 0.4s, box-shadow 0.4s;
}
.drag-item h4 {
	padding:0;
	border:0;
	margin: 0;
	font-weight: normal;
}
.drag-item span {
	display: none;
}

.micro {
	background:  #FB7D44;
}
.meso {
	background: #2A92BF;
}
.macro {
	background: #F4CE46;
}

/* info panel */
#infopanel {
	position: fixed;
  right: 0;
	top: 0;
	width: 300px;
	background: #cecece;	
	height: 100%;
	padding: 1em;
}

#infopanel span {
	display: block;
}

#infopanel h4 {
	border: 0;
	margin: 0;
}

#infopanel .desc {
	padding: 10px 0;
	line-height: 120%;
	border: 0;
}

#infopanel .cite::before {
	content: "Source: ";
}
#infopanel .cite {
	font-size: 12px;
	color: #333;
	padding-top: 1em;
}

#infopanel .recommend, #infopanel .plus, #infopanel .minus {
	font-size: 14px;
}

#infopanel .plus::before {
	content: "+ ";
}

#infopanel .minus::before {
	content: "- ";
}

#infopanel .recommend::before {
	content: "Overall: ";
}



/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/* Demo info */
.intro {
	padding: 1em 1em 2em 1em;
}
.intro h1 {
  line-height: 120%;
  padding: 0;
  margin: 0;
}
.intro h4 {
	font-weight: normal;
	line-height: 120%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: gray;
}
.intro p {
	margin-bottom: 0;
	font-size: 14px;
}

.report-area {
  position: relative;
  /* you may want to set the width/height here as well*/
}

.report-fixed {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  z-index: 100;  
  background-color: #cccccc;
  display: none;
}

/* isotope changes height automatically, so important needed to override if very tall */
ul.drag-inner-list#drag-4 {

}

.scrollme {
    max-height: 600px !important; 
    overflow-y: scroll;
}

/* filter styling */
.filter {
	width: 200px;
	height: 640px;
	background-color: #00B961;
	color: white;
	font-size: 13px;
	padding: 5px;
	margin: 0;
	float: left;
}
.filter h2 {
	  font-size: 0.8rem;
	  padding: 5px;
	  text-transform: uppercase;
	  margin: 0;
}
label {
	display: inline-block;
}
fieldset {
	border: none;
	padding-bottom: 1em;
}
legend {
	font-weight: bold;
}

/* overlay for wizard */
.overlay-mask {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center; 
  -moz-box-pack: center; 
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;



  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.overlay-content {
    padding: 5px;
    min-height: 10px;
    min-width: 10px;
    margin-top: 100px;
    margin: auto;
    background-color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #a5a5a5;
    position: relative;
    -webkit-align-self: center;
    align-self: center;
    -webkit-align-content: center;
    align-content: center;
	width: 80%;
	
}