* {
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 1000px;
  margin: 20px 0;
}

.drag-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  -webkit-box-flex: 1;
          flex: 1;
  margin: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.drag-column-on-hold .drag-column-header,
.drag-column-on-hold .is-moved,
.drag-column-on-hold .drag-options {
  background: #FB7D44;
}
.drag-column-in-progress .drag-column-header,
.drag-column-in-progress .is-moved,
.drag-column-in-progress .drag-options {
  background: #2A92BF;
}
.drag-column-needs-review .drag-column-header,
.drag-column-needs-review .is-moved,
.drag-column-needs-review .drag-options {
  background: #F4CE46;
}
.drag-column-approved .drag-column-header,
.drag-column-approved .is-moved,
.drag-column-approved .drag-options {
  background: #00B961;
}



/*
.micro {
	border: 2px solid #FB7D44;
}
.meso {
	border: 2px solid #2A92BF;
}
.macro {
	border: 2px solid #F4CE46;
}
*/

.drag-column-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.drag-inner-list {
  min-height: 50px;
  	padding-bottom: 1px;
}

.drag-item {
  margin: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: grab;
}
.drag-item.is-moving {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: rgba(0, 0, 0, 0.8);
  cursor: grabbing;
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}



/* indicator styling */
.drag-item {
		font-size: 14px;
		line-height: 1.2em;
		padding: 1em;
}
.drag-item h4 {
	padding:0;
	border:0;
	margin: 0;
	font-weight: normal;
}
.drag-item span {
	display: none;
}

.micro {
	background:  #FB7D44;
}
.meso {
	background: #2A92BF;
}
.macro {
	background: #F4CE46;
}

/* info panel */
#infopanel {
	position: fixed;
  right: 0;
	top: 0;
	width: 300px;
	background: #cecece;	
	height: 100%;
	padding: 1em;
}

#infopanel span {
	display: block;
}

#infopanel h4 {
	border: 0;
	margin: 0;
}

#infopanel .desc {
	padding: 10px 0;
	line-height: 120%;
	border: 0;
}

#infopanel .cite::before {
	content: "Source: ";
}
#infopanel .cite {
	font-size: 12px;
	color: #333;
	padding-top: 1em;
}

#infopanel .recommend, #infopanel .plus, #infopanel .minus {
	font-size: 14px;
}

#infopanel .plus::before {
	content: "+ ";
}

#infopanel .minus::before {
	content: "- ";
}

#infopanel .recommend::before {
	content: "Overall: ";
}



/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/* Demo info */
.intro {
	padding: 1em;
}
.intro h1 {
  line-height: 120%;
  padding: 0;
  margin: 0;
}
.intro h4 {
	font-weight: normal;
	line-height: 120%;
	padding: 0;
	margin: 0;
}
.intro p {
	margin-bottom: 0;
}

.report-area {
  position: relative;
  /* you may want to set the width/height here as well*/
}

.report-fixed {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  z-index: 100;  
  background-color: #cccccc;
  display: none;
}

